# Environnement / IDE
.venv/
__pycache__/
*.pyc
.vscode/

data/multispectral-images/GRE/*.tif
data/multispectral-images/NIR/*.tif
data/multispectral-images/RED/*.tif
data/multispectral-images/REG/*.tif

# Artifacts & logs (re-générables)
artifacts/aligned/GRE/*.tif
artifacts/aligned/NIR/*.tif
artifacts/aligned/RED/*.tif
artifacts/aligned/REG/*.tif

artifacts/indices/BRVI/*.tif
artifacts/indices/GNDVI/*.tif
artifacts/indices/log/*.tif
artifacts/indices/LR/*.tif
artifacts/indices/morph_gradient/*.tif
artifacts/indices/NDRE/*.tif
artifacts/indices/NDVI/*.tif
artifacts/indices/sobel/*.tif
artifacts/indices/structure_tensor/*.tif

artifacts/boundary_maps/*.png
artifacts/boundary_maps/*.tif

artifacts/masks_raw/*.png
artifacts/masks_raw/*.tif

artifacts/masks_filtered/*.tif

artifacts/preds/*.png
artifacts/preds/*.tif

artifacts/patches/

artifacts/masks_final/*.png
artifacts/masks_final/*.tif

artifacts/preds_overlays/
artifacts/preds_overlays_dbg/
artifacts/cache/
